#levels {
  border-radius: 0.5em;
  border: 1px solid white;
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7em;
  padding: 1em;
  max-width: 45em;
}

.level {
  min-width: 51.25px;
  padding: 0.7em 1em;
  /* width: 3em;
  height: 3em; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  border: 1px solid white;
  background-color: rgb(75, 75, 75);
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color, transform;
  transition-duration: 50ms;
}

.level:hover {
  background-color: rgb(54, 54, 54);
}
.level:active {
  transform: scale(0.9);
}