
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;

}
#game-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#game-area {
  max-width: 100vw;
  max-height: 100vh;
  aspect-ratio: 800 / 600;
}
canvas {
  /* border: 2px solid black; */
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
  border: 1px solid white;
}
/* 
.window {
  position: absolute;
  left: 50%;
  top: 20%;
  background-color: grey;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.445);
  padding: 1em;
  min-width: 18em;
  max-width: 18em;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  animation: window-popup 300ms;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.68, -0.55, 0.21, 1);
}
@keyframes window-popup {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.back {
  position: absolute;
  left: 0vw;
  top: 0vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.521);
  animation: fade-in 300ms;
  transition: opacity 300ms;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.back:has(+.window.deleted) {
  opacity: 0;
}
.window.deleted {
  transform: translate(-50%, -50%) scale(0);
}
.window > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.window > .top > h2 {
  margin-block: 0;
  font-weight: 100;
}
.window > .top > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.window > .top > div > svg {
  border-radius: 999px;
  padding: 0.2em;
  box-sizing: content-box;
}
.window > .top > div > svg:hover {
  background-color: rgba(0, 0, 0, 0.322);
} */